#home-slider
  .sp-layer
    left 25% !important
    transform translate(-50%,-50%) !important
    top 40% !important
    width 35%
    @media only screen and (max-width 992px)
      left 35% !important
      width 50%
    @media only screen and (max-width 768px)
      width 60%
    @media only screen and (max-width 480px)
      left 45% !important
      width 80%
    .title
      font-size 2em
      color $white
      @media only screen and (max-width 768px)
        font-size 1.5em
      h2
        margin 0
        text-align left
      p
        margin-top 20px
  .layer-two
    @media only screen and (min-width 769px)
      left 50% !important
      top 50% !important
.Home
  .section-default
    text-align center
    padding-top 80px
    padding-bottom 80px
    h3
      width 60%
      margin 20px auto
    p
      width 60%
      margin 40px auto
    span
      font-size 1.5em
      font-weight bold
    h3, p
      @media only screen and (max-width 768px)
        width 100%
        text-align justify
  .instructions
    margin-bottom 30px
    @media only screen and (max-width 992px)
      display grid
      grid-template-columns repeat(3, auto)
      text-align center
    @media only screen and (max-width 768px)
      grid-template-columns repeat(2, auto)
    @media only screen and (max-width 480px)
      grid-template-columns repeat(1, auto)
    .item
      margin-bottom 20px
      font-size 1.3em
      @media only screen and (max-width 992px)
        font-size 1em
      @media only screen and (max-width 992px)
        width 80%
        margin auto
      h3
        font-weight 900
        margin 0
      span
        color $yellow
  .services
    background-image url('img/banner_cars_optic_1.jpg')
    .section-default
      font-size 1.3em
      @media only screen and (max-width 768px)
        font-size 1em
      p
        margin auto
  .box-reservation
    background-color $yellow
    padding-top 15px
    padding-bottom 15px
    padding-left 15px
    padding-right 50px
    @media only screen and (max-width 768px)
      padding 15px
    .box-header
      display flex
      justify-content space-between
      align-items center
      @media only screen and (max-width 768px)
        flex-direction column
      img
        width 180px
    .box-body
      display grid
      grid-template-columns 50% 50%
      @media only screen and (max-width 768px)
        grid-template-columns 100%
      .reservation-form
        .choose-destination
          background-color #3f3f3e
          border none
          border-radius 0
          color $white
          display flex
          justify-content space-between
          align-items center
          padding 10px
          i.fas.end
            color $yellow
            border 1px solid $yellow
            border-radius 40px
            padding 4px
        button.choose-destination
          &:hover
            text-decoration none
            background-color lightness(#3f3f3e, 10%)
        .add-people
          display grid
          grid-template-columns 35% 25% 25%
          gap 0.5rem
          input
            height 100%
            padding 0
            text-align center
          .btn.btn-default
            // @media only screen and (max-width 768px)
            padding 12px 0
      img
        margin-left 7%
        @media only screen and (max-width 768px)
          margin-top 20px
          margin-left auto
          margin-right auto
  .offers
    text-align center
    display grid
    grid-template-columns repeat(4, auto)
    align-items center
    justify-content center
    gap 8rem
    margin 50px 0
    @media only screen and (max-width 992px)
      grid-template-columns repeat(3, auto)
    @media only screen and (max-width 768px)
      grid-template-columns repeat(2, auto)
    @media only screen and (max-width 480px)
      grid-template-columns repeat(1, auto)
      gap 3rem
    .item
      margin-bottom 15px
      width 140px
      @media only screen and (max-width 768px)
        width auto
  .cta-advantage
    background-image url('img/banner_cars_optic_2.jpg')
    background-repeat no-repeat
    background-position center
    background-size cover
    padding-top 5%
    padding-bottom 5%
    display grid
    grid-template-columns repeat(3, auto)
    padding 60px 0
    @media only screen and (max-width 480px)
      grid-template-columns repeat(1, auto)
    .item
      color $yellow
      &:nth-child(2)
        border-left 2px solid $yellow
        border-right 2px solid $yellow
        @media only screen and (max-width 480px)
          border-left none
          border-right none
      @media only screen and (max-width 480px)
        margin 10px 0
      h2
        width 40%
        margin auto
        @media only screen and (max-width 992px)
          width 60%
          font-size 1.2em
  .our-vehicles
    color $black
    background-image url('img/banner_cars_optic_3.jpg')
    position relative
    .transparency
      top 0
      left 0
      right 0
      bottom 0
      background-color rgba($white, 0.7);
  .select-car
    ul
      display grid
      grid-template-columns repeat(6, auto)
      @media only screen and (max-width 768px)
        grid-template-columns repeat(3, auto)
      @media only screen and (max-width 480px)
        grid-template-columns repeat(2, auto)
    li
      width 100%
      a
        color #aaaaaa
    .models
      background-color $gray
      li
        padding 30px 0
        font-weight 800
        text-align center
        @media only screen and (max-width 480px)
          padding 15px 0
      .active
        background-color $yellow
        color #404040
    .car-type
      .main-img
        position relative
        overflow hidden
        .reserve
          position absolute
          top 80%
          right 80px
          display block
          background-color $yellow
          color #404040
          font-weight bold
          @media only screen and (max-width 768px)
            top 70%
          @media only screen and (max-width 480px)
            top 50%
            right 30px
      li
        padding 0
        .thumbnail
          background-repeat no-repeat
          background-position center
          background-size cover
          height 200px
          margin 0
        .one
          background-image url('img/IMG_7787_optic.jpg')
        .two
          background-image url('img/IMG_7794_optic.jpg')
        .three
          background-image url('img/IMG_7798_optic.jpg')
        .four
          background-image url('img/IMG_7811_optic.jpg')
        .five
          background-image url('img/IMG_7824_optic.jpg')
        .six
          background-image url('img/IMG_7824_optic.jpg')
  .contact
    background-color $yellow
    padding-top 40px
    padding-bottom 40px
    h2
      text-align left
    a
      display block
      color $white
      .icon
        color $black
        margin-right 10px
    .mail
      color $black
      font-size 1.5em
      margin-top 100px
      @media only screen and (max-width 768px)
        margin 10px 0
    .btn-default
      width 150px
      font-weight bold

.parallax
  background-repeat no-repeat
  background-position center
  background-size cover
  background-attachment fixed
  text-align center
  color $white

.step-container
  background #ffffff
  padding 1em

#escalade
  .one
    background-image url('img/escalade/1m.jpg')
  .two
    background-image url('img/escalade/2m.jpg')
  .three
    background-image url('img/escalade/3m.jpg')
  .four
    background-image url('img/escalade/4m.jpg')
  .five
    background-image url('img/escalade/5m.jpg')
  .six
    background-image url('img/escalade/6m.jpg')

#gl500
  .one
    background-image url('img/gl500/1m.jpg')
  .two
    background-image url('img/gl500/2m.jpg')
  .three
    background-image url('img/gl500/3m.jpg')
  .four
    background-image url('img/gl500/4m.jpg')
  .five
    background-image url('img/gl500/5m.jpg')
  .six
    background-image url('img/gl500/6m.jpg')

#sprinter
  .one
    background-image url('img/sprinter/1m.jpg')
  .two
    background-image url('img/sprinter/2m.jpg')
  .three
    background-image url('img/sprinter/3m.jpg')
  .four
    background-image url('img/sprinter/4m.jpg')
  .five
    background-image url('img/sprinter/5m.jpg')
  .six
    background-image url('img/sprinter/6m.jpg')

#suburvan
  .one
    background-image url('img/suburvan/1m.jpg')
  .two
    background-image url('img/suburvan/2m.jpg')
  .three
    background-image url('img/suburvan/3m.jpg')
  .four
    background-image url('img/suburvan/4m.jpg')
  .five
    background-image url('img/suburvan/5m.jpg')
  .six
    background-image url('img/suburvan/6m.jpg')

#tesla
  .one
    background-image url('img/modelx/1m.jpg')
  .two
    background-image url('img/modelx/2m.jpg')
  .three
    background-image url('img/modelx/3m.jpg')
  .four
    background-image url('img/modelx/4m.jpg')
  .five
    background-image url('img/modelx/5m.jpg')
  .six
    background-image url('img/modelx/6m.jpg')

.card-form
  -webkit-border-radius 5px
  -moz-border-radius 5px
  border-radius 5px
  -webkit-box-shadow 0 1px 3px rgba(0, 0, 0, .3)
  -moz-box-shadow 0 1px 3px rgba(0, 0, 0, .3)
  box-shadow 0 1px 3px rgba(0, 0, 0, .3)
  background-color #f9f9f7
  border 1px solid #fff
  margin 0 auto 0
  left 0
  padding 13px 20px
  // position absolute
  box-sizing border-box
  width 100%
  h2
    color #555
    // font-family ff-dagny-web-pro, "Helvetica Neue", Verdana, Geneva, Arial, Helvetica, sans-serif
    font-size 16px
    font-style normal
    margin-bottom 0
    text-align left
  ul
    margin 0
    padding 0
    list-style-type none
  li
    list-style-type none
    margin 8px 0
    .help
      color #aaa
      display block
      font-size 11px
      font-weight 400
      line-height 14px
      padding-top 14px
      a
        color #76a1cd
  label
    color #555
    display block
    font-size 14px
    font-weight 400
  input
    background-color #fff
    border 1px solid #e5e5e5
    color #333
    display block
    font-size 18px
    height 32px
    padding 0 5px
    width 100%
    box-sizing box-sizing
    &::-webkit-input-placeholder
      color #ddd
    &:-moz-placeholder
      color #ddd
      opacity 1
    &::-moz-placeholder
      color #ddd
      opacity 1
    &:-ms-input-placeholder
      color #ddd
    &:focus
      outline 1px solid #38d
  #card_number
    background-image url(img/card-images.png), url(img/card-images.png)
    background-position 2px -121px, 260px -61px
    background-size 120px 361px, 120px 361px
    background-repeat no-repeat
    padding-left 54px
    width 100%
    &.visa
      background-position 2px -163px, 260px -61px
    &.visa_electron
      background-position 2px -205px, 260px -61px
    &.mastercard
      background-position 2px -247px, 260px -61px
    &.maestro
      background-position 2px -289px, 260px -61px
    &.discover
      background-position 2px -331px, 260px -61px
    &.valid
      &.visa
        background-position 2px -163px, 260px -87px
      &.visa_electron
        background-position 2px -205px, 260px -87px
      &.mastercard
        background-position 2px -247px, 260px -87px
      &.maestro
        background-position 2px -289px, 260px -87px
      &.discover
        background-position 2px -331px, 260px -87px

.vertical
  overflow hidden
  li
    float left
    width 49% !important
    .or
      color #aaa
      float left
      font-size 12px
      margin-left -8px
      margin-top 32px
    &:last-child
      float right
      text-align right
      input
        float right
  input
    width 60% !important

ins
  overflow hidden
  width 100%