footer.container-fluid
  .row
    .col-md-8.col-md-offset-2
      .top
        img(src="assets/img/LOGO_2_OPTIC.png", alt="Optic Logo").img-responsive.logo
        span.slogan Los Cabos Premium Service
        .languague
          ul.list-inline
            li
              a(href="#") ESPAÑOL |
            li
              a(href="#") ENGLISH
        .social-media
          ul.list-inline
            li
              a(href="#")
                i.fab.fa-youtube
            li
              a(href="#")
                i.fab.fa-twitter
            li
              a(href="#")
                i.fab.fa-facebook-f
            li
              a(href="#")
                i.fab.fa-instagram
      .center
        .footer-menu.menu-one
          p Nosotros
          ul
            li
              a(href="#") Nuestra Historia
            li
              a(href="#") Política de Servicio
            li
              a(href="#") Socios Comerciales
            li
              a(href="#") Videos corporativos
        .footer-menu.menu-two
          p Servicios
          ul
            li
              a(href="#") Transportación Privada
            li
              a(href="#") Transportación Colectiva
            li
              a(href="#") Seguro
        .footer-menu.menu-three
          p Vehículos
          a(href="#") Nuestros vehículos
        .footer-menu.menu-four
          p Reservación
          a(href="#") Reserva tu vehículo
      .bottom
        ul.list-inline
          li
            a(href="#") Política de Privacidad |
          li
            a(href="#") Derechos Reservados Optic Private Transportation
        .company
          span Sitio diseñado por
          img(src="assets/img/eskalon.png", alt="eskalon").img-responsive
