header.Header
	.container-fluid
		.row
			.col-sm-12.text-center
				.desktop
					a(href="/").logo
						img(src="assets/img/LOGO_2_OPTIC.png", alt="Kala")
						span.slogan Los Cabos Premium Service
					.right
						ul.list-inline.top-menu
							li
								a(href="tel:01 52 (624) 130 6373")
									i.fas.fa-phone.mr-3
									| 01 52 (624) 130 6373 |
							li
								a(href="tel:01 52 (624) 157 8132") 01 52 (624) 157 8132
							li
								a(href="#")
									img(src="assets/img/lang-es.jpg", alt="Optic").img-responsive.lang
							li
								a(href="#")
									img(src="assets/img/lang-eu.jpg", alt="Optic").img-responsive.lang
						ul.list-inline
							li
								a(href="product-general.html", class=section == 'index' ? 'active' : '') NOSOTROS
							li
								a(href="product-general.html") SERVICIOS
							li
								a(href="product.html") VEHÍCULOS
							li
								a(href="product.html") RESERVACIÓN
							li
								a(href="product.html") CONTACTO
				.header-mobil
					.icons
						a(href="#")
							img(src="assets/img/lang-es.jpg", alt="Optic").img-responsive
						a(href="#").mx-2
							img(src="assets/img/lang-eu.jpg", alt="Optic").img-responsive
					a(href="/").logo
						img(src="assets/img/LOGO_2_OPTIC.png", alt="Kala").img-responsive
					a(href="#", target="_blank").open-menu
						i.fas.fa-bars
				ul.mobil
					li
						a(href="product-general.html", class=section == 'index' ? 'active' : '') NOSOTROS
					li
						a(href="product-general.html") SERVICIOS
					li
						a(href="product.html") VEHÍCULOS
					li
						a(href="product.html") RESERVACIÓN
					li
						a(href="product.html") CONTACTO
					li
						a(href="tel:01 52 (624) 130 6373").phone
							i.fas.fa-phone.mr-2
							| 01 52 (624) 130 6373
					li
						a(href="tel:01 52 (624) 157 8132").phone
							i.fas.fa-phone.mr-2
							| 01 52 (624) 157 8132
