<div id="wizard" class="form_wizard wizard_horizontal">
  <ul class="wizard_steps anchor">
    <li>
      <a href="#step-1" class="selected" isdone="1" rel="1">
        <span class="step_no">1</span>
        <span class="step_descr">
            Step 1<br>
            <small>Step 1 description</small>
        </span>
      </a>
    </li>
    <li>
      <a href="#step-2" class="disabled" isdone="0" rel="2">
        <span class="step_no">2</span>
        <span class="step_descr">
            Step 2<br>
            <small>Step 2 description</small>
        </span>
      </a>
    </li>
  </ul>
  <div class="stepContainer" style="height: 281px;">
    <div id="step-1" class="content" style="display: block;">

    </div>
  </div>
  <div class="actionBar">
    <div class="msgBox">
      <div class="content"></div>
      <a href="#" class="close">X</a>
    </div>
    <div class="loader">Loading</div>

    <a href="#" class="buttonPrevious buttonDisabled btn btn-primary">Previous</a>
    <a href="#" class="buttonNext btn btn-success">Next</a>
    
  </div>
</div>